/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background 0.5s ease; /* Smooth background color transition */
}

.center-text {
    text-align: center;
}

.big-text {
    font-size: 24px; /* Adjust the font size as needed */
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

#startPage {
    background-color: #f9f9f9; /* Set background color for starting page */
}

#calculator {
    background-color: #ffffff; /* Set background color for calculator page */
}

#calculator.slide-left {
    transform: translateX(-100%); /* Slide left transition */
}

#startPage.slide-right {
    transform: translateX(100%); /* Slide right transition */
}

.big-button {
    display: block;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px; /* Adjust the font size as needed */
    border: 2px solid #3498db;
    background-color: #ffffff;
    color: #3498db;
    border-radius: 10px;
    cursor: pointer;
}
