/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.center-text {
    text-align: center;
}

.big-text {
    font-size: 24px; /* Adjust the font size as needed */
}

#startPage {
    margin-top: 20vh; /* Adjust the top margin as needed */
}

.big-button {
    display: block;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px; /* Adjust the font size as needed */
    border: 2px solid #3498db;
    background-color: #ffffff;
    color: #3498db;
    border-radius: 10px;
    cursor: pointer;
}
